Capstone Project week 3 - Part1

In [1]:
# Importing pandas

import pandas as pd

In [7]:
# Reading the table from wikipedia to turn it into a table

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

read_table = pd.read_html(url,header=[0])

df = read_table[0]

df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [9]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

df = df[df.Borough !='Not assigned']

df.reset_index(drop=True,inplace=True)

df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

In [14]:
# More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page,
# you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
# These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

df_grouped = df.groupby('Postal Code',as_index=False).agg(lambda x: ','.join(set(x.dropna())))
df_grouped.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [17]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

df_grouped.loc[df_grouped['Neighbourhood'] == 'Not assigned','Neighbourhood'] = df_grouped['Borough']
df_grouped.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [19]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe

df_grouped.shape[0]

103